main{
  max-width: 33rem;
  margin-bottom: 3rem;
}
header {
  background-color: #D6EDFF;
  height: 75px;
  display: flex;
  align-items: center;
}
.hidden{
  display: none;
}
.buttons{
  margin-left: 2rem;
  width: 60%;
}
.container-data{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  width: 70%;
  max-height: 45%;
}
li{
  margin-bottom: 1rem;
}
