.header,.add-button{
  text-decoration: none;
  font-family: "Yantramanav",sans-serif;
  text-transform: uppercase;
  color: black;
  margin-left: 2rem;
  font-size: 24px;
  font-weight: 600;
}
.header:active{
  color: white;
}
h1{
  font-family: "Yantramanav",sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 33px;
  letter-spacing: 1px;
  margin: 2rem 2rem;
}
button{
  width: 100%;
  background-color: white;
  border: solid #CED4DA;
  margin: 2rem 0;
  font-family: 'Yantramanav';
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
  padding: 0.5rem;
  transition: all 0.5s ease-out;
  outline: none;
}
button:hover{
  background-color: #D6EDFF;
  color: #495057;
  border: solid #D6EDFF;
  cursor: pointer;
}
.api-data{
  border: solid #CED4DA;
  border-radius: 30px;
  overflow: auto;
}
h2 {
  font-family: "Yantramanav",sans-serif;
  margin: 3rem;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  font-family: "Yantramanav",sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
.add-button{
  border: solid #ced4da;
  border-radius: 30px;
  font-size: 19px;
  text-align: center;
  padding: 0.5rem 1rem;
  margin: auto;
  transition: all 0.5s ease-out;
  position: relative;
  top: 3rem;
}
.add-button:hover{
  color: white;
  border: solid #D6EDFF;
  background-color: #D6EDFF;
}
.add-button:active{
  color:white;
}
ul{
  font-size: 21px;
  font-family: 'Yantramanav';
  text-transform: uppercase;
  width: 90%;
}
.to-do-list{
  list-style:none;
  padding-left: 2rem;
  margin-right: 2rem;
}
.label{
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.checkbox{
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.checkbox:checked + .label{
  text-decoration: line-through;
  opacity: 0.5;
}
.checkbox:checked{
  opacity: 0.4;
}
.fas{
  cursor: pointer;
  color: #adb5bd;
  transition: all 0.3s ease-out;
}
.modal-icon{
  margin: 0 2.5rem 3rem;
  font-size: 26px;
}
.fas.fa-trash:hover{
  color: #ef233c;
}
.fas.fa-trash:active{
  color: #ef233c;
}
.fas.fa-undo:hover{
  color: #30B08E;
}
.fas.fa-undo:active{
  color: #30B08E;
}
