.header{
  text-decoration: none;
  font-family: "Yantramanav",sans-serif;
  text-transform: uppercase;
  color: black;
  margin-left: 2rem;
  font-size: 24px;
  font-weight: 600;
}
.header:active{
  color: white;
}
h1{
  font-family: "Yantramanav",sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 33px;
  letter-spacing: 1px;
  margin: 2rem 2rem 0;
}
button{
  width: 100%;
  background-color: white;
  border: solid #CED4DA;
  margin: 2rem 0;
  font-family: 'Yantramanav';
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
  padding: 1rem;
  transition: all 0.5s ease-out;
  outline: none;
}
button:hover{
  background-color: #D6EDFF;
  color: #495057;
  border: solid #D6EDFF;
  cursor: pointer;
}
.api-data{
  border: solid #CED4DA;
  width: 70%;
  max-height: 45%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  overflow: auto;
}
h2 {
  font-family: "Yantramanav",sans-serif;
  margin: 3rem 3rem 2rem;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  font-family: "Yantramanav",sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.7rem;
}
