.header,.add-button{
  text-decoration: none;
  font-family: "Yantramanav",sans-serif;
  text-transform: uppercase;
  color: black;
  margin-left: 2rem;
  font-size: 24px;
  font-weight: 600;
  transition: all 0.3s ease-out;
}
.header:hover{
  color: white;
}
h1{
  font-family: "Yantramanav",sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 33px;
  letter-spacing: 1px;
  margin: 2rem 2rem;
  text-align: center;
}
button{
  width: 100%;
  background-color: white;
  border: solid #CED4DA;
  margin: 2rem 0;
  font-family: 'Yantramanav';
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
  padding: 0.5rem;
  transition: all 0.5s ease-out;
  outline: none;
}
button:hover{
  background-color: #D6EDFF;
  color: #495057;
  border: solid #D6EDFF;
  cursor: pointer;
}
.api-data{
  border: solid #CED4DA;
  border-radius: 30px;
  overflow: auto;
}
h2 {
  font-family: "Yantramanav",sans-serif;
  margin: 3rem;
  text-align: center;
  text-transform: uppercase;
}
h3 {
  font-family: "Yantramanav",sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
.recipe{
  text-decoration: none;
  color: #008BF5;
  transition: all 0.3s ease-out;
}
.recipe:hover{
  color: #47AFFF;
}
.recipe:active{
  color: #D6EDFF;
}
.add-button{
  border: solid #ced4da;
  border-radius: 30px;
  font-size: 19px;
  text-align: center;
  padding: 0.5rem 1rem;
  margin: auto;
  position: relative;
  top: 1rem;
}
.add-button:hover{
  color: white;
  border: solid #D6EDFF;
  background-color: #D6EDFF;
}
.add-button:active{
  color:white;
}
ul{
  font-size: 21px;
  font-family: 'Yantramanav';
  text-transform: uppercase;
  width: 90%;
}
.to-do-list{
  list-style:none;
  padding-left: 2rem;
  margin-right: 2rem;
}
.label{
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.checkbox{
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.checkbox:checked + .label{
  text-decoration: line-through;
  opacity: 0.5;
}
.checkbox:checked{
  opacity: 0.4;
}
.fas{
  cursor: pointer;
  color: #adb5bd;
  transition: all 0.3s ease-out;
}
.modal-icon{
  margin: 0 2.5rem 3rem;
  font-size: 26px;
}
.fas.fa-trash:hover{
  color: #ef233c;
}
.fas.fa-trash:active{
  color: #ef233c;
}
.fas.fa-undo:hover{
  color: #30B08E;
}
.fas.fa-undo:active{
  color: #30B08E;
}
.fas.fa-redo{
  font-size: 27px;
  margin: initial;
}
.fas.fa-redo:active{
  color: #30B08E;
}
.fas.fa-redo:hover{
  color: #30B08E;
}

.spinner {
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #adb5bd;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
